html, body, #root {
	background: none;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
